
.small-nav{
    height: 35pt;
    padding-left: 80pt;
}

.small-nav-num{
    font-size: medium;
}

.nav{ 
    padding-left: 80pt;
    height: 65pt;
    /* padding-top: 50pt; */
}

.mr-auto{
    padding-left: 280pt;
    font-size: 17pt;
}

.carousel{
    height: 400pt;
}

.button-mv{
    text-align: left;
    padding-left: 80pt;
}